

.circle {

}

#cirlce {
  
  
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) ;
}

#one{
margin-left: 1000px;
margin-top: 140px;
font-size: 90px;

}

#two{
margin-left:100px;
margin-top:200px;
font-size: 50px;

}

#three{
margin-left:330px;
margin-top:100px;
font-size: 60px;

}

#four{
margin-left: 200px;
margin-top: -600px;
font-size: 80px;

}

#five{
margin-left:800px;
margin-top:500px;
font-size: 20px;
}

#six{
margin-left:1300px;
margin-top:80px;
font-size:40px;
}

#red {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) ;
}

#form1 {

display:none;

}

#form2 {

display:none;

}

@keyframes background {
  50%   { background: white; }
  100%  { background: yellow; }
}

body { 
  animation: background 9000ms alternate infinite;
}