/* reset styles */
* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: black;
}

/* flag canvas */
#canvas {
        width: 500px;
        height: 300px;
        position: relative;
        background: green;
}
 
 #star {
      
      color: white;
      font-size: 25px;
      float:left;
      margin-left:23px;
      margin-top:0px;
    }

 #star2 {
      
      color: white;
      font-size: 25px;
      margin-left:15px;
      margin-top:0px;
    }

    #star3{
      
      color: white;
      font-size: 25px;
      float:left;
      margin-left:20px;
      margin-top:0px;
    }

    #star4 {
      
      color: white;
      font-size: 25px;
      float:left;
      margin-left:7px;
      margin-top:10px;
    }

    #star5 {
      
      color: white;
      font-size: 25px;
      float:left;
      margin-left:50px;
      margin-top:0px;
    }
   

/* shapes */
#square {
        /*element.style */
        width: 160px;
        height: 160px;
      /*  margin: 10px;*/
        background: blue;
       }

