/* reset styles */
* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: black;
}

/* flag canvas */
#canvas {
        width: 500px;
        height: 300px;
        position: relative;
        background: green;
}
 
 #star {
      
      color: white;
      font-size: 25px;
      float:left;
      margin-left: 23px;
      margin-top: 48px;
}
    

 #star2 {
      
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 25px;
}
    

    #star3{
      
      color: white;
      font-size: 25px;
      float:left;
      margin-left: -14px;
      margin-top: 76px;
    }

    #star4 {
      
      color: white;
      font-size: 25px;
      float:left;
      margin-left: 24px;
      margin-top: 32px;
    }

    #star5 {
      
      color: white;
      font-size: 25px;
      float:left;
      margin-left: 99px;
      margin-top: -23px;
    }
   

/* shapes */
#square {
        /*element.style */
        width: 160px;
        height: 160px;
      /*  margin: 10px;*/
        background: blue;
       }

