
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
    color: black;
}
body {
    background: black;
}
#desktop {
    display: inline;
    color: black;
}
#tablet,
#mobile,
#print {
    display: none;
}
/* tablet */
@media (min-width: 500px) and (max-width: 1000px) {
    body {
        background: black;
    }
    #tablet {
        display: inline;
        color: black;
    }
    #desktop,
    #mobile,
    #print {
        display: none;
    }
}
/* mobile */
@media (max-width: 750px) {
    body {
    background: black;
}
    #mobile {
        display: inline;
        color: black;
        height: 50px;
        width: 50px;
    }
    #desktop,
    #tablet,
    #print {
        display: none;
    }
}
/* small */
@media (max-width: 670px) {
    body {
    background: black;
}
    #print {
        display: inline;
        
    }
    #desktop,
    #tablet,
    #mobile {
        display: none;
    }
}